.book-card {
    height: 100%; /* Tutte le card avranno la stessa altezza */
    display: flex;
    flex-direction: column;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3 ease;
    border-radius: 10px;
  }
  .book-card:hover {
    transform: translateY(-5px);
    box-shadow: 4px 8px 15px rgba(0,0,0,0.3);
  }
  
  .book-image {
    height: 250px; /* Altezza fissa per le immagini */
    object-fit: contain; /* Mantiene le proporzioni ritagliando l'eccesso */
  }
  
  .book-body {
    flex-grow: 1; /* Permette al contenuto di adattarsi */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  